/* General styles */
body {
  background-image: linear-gradient(
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url("img/survey-form-background.jpeg");
  margin: 0px;
}
* {
  font-family: sans-serif, monospace, serif;
  color: #fff;
}
.center {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
}
form {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  width: 720px;
  padding: 10px 40px 40px 40px;
  margin: 0px;
  border-radius: 3px;
}
@media (max-width: 770px){
  form {
    width: 440px;
  }
}
@media (max-width: 570px) {
  .center {
    margin: 0px;
  }
  form {
    margin: 0px;
    width: auto;
  }
}
label {
  margin: 25px auto 5px 0px;
  display: block;
  font-size: 1.2em;
}
input,
select {
  padding: 2%;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
}

/* Header styles */
header {
  padding: 0px;
  text-align: center;
}
header > h1,
p {
  font-weight: lighter;
}
header > h1 {
  font-size: 40px;
  margin-bottom: 0px;
}
header > p {
  font-size: 20px;
  font-style: italic;
  margin: 5px auto 30px;
}

/* Radio buttons styles */
#recomendLevel {
  display: grid;
  grid-template-rows: repeat(3, auto);
}
#recomendLevel > label {
  margin-top: 0px;
}

/* ComboBox styles */
#dropdown > * {
  color: black;
}

/* Checboxes styles */
#checkboxes {
  margin-top: 15px;
}
#checkboxes > * {
  margin: 5px auto 5px;
}

/* Text area styles */
textarea {
  padding: 3%;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.8);
}

/* Submit button styles */
button {
  font-size: large;
  margin: 15px 0px;
  padding: 10px 0px;
  background-color: #287e49;
}
